.container {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .video-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .video-container {
    width: 45%;
    text-align: center;
    
  }
  
  .subheading {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  