/* Popup.css */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensures the popup is on top */
  }
  
  .popup-content {
    background-color: rgba(228, 226, 226, 1.5);
    padding: 14px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: 80%;
    max-width: 400px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
    color: #555;
  }
  
  .popup-body {
    margin-top: 12px;
  }

  .popup-body h2 {
    font-size: 24px;
    color: #555;
  }
  
  .popup-image {
    width: 80%;
    max-width: 600px;
    height: auto;
    margin-top: 12px;
  }
  
  .slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
  }
  
  .slider-button {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #8b8b8b;
    margin: 0 10px;
  }
  
  .popup-terms {
    margin-top: 8px;
    font-size: 14px;
    color: #555;
  }
  
